= link_to "Wikireadability", root_path, :class => 'brand'
%ul.nav
  %li 
    %a.score Score: 0
  %li
    %a.currentchain Current Chain: 0
  %li
    %a.longestchain Longest Chain: 0
  %li 
    %a.correct Correct: 0%
  